@font-face {
    font-family: 'Pixeled';
    src:  url('/assets/.woff2') format('woff2'),
          url('./assets/Pixeled.woff') format('woff'),
          url('./assets/Pixeled.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
  
body {
    font-family: 'Press Start 2P', cursive;
}
